/**
 * Frontend and editor styles for the GT Librarian Chat Embed block
 */

.gt-librarian-chat-embed {
	width: 100%;
	min-height: 400px;

	chat-embed {
		display: block;
		width: 100%;
		height: 100%;
		min-height: 400px;
	}
}
